  <div class='operations' >
    <li>
    <div class='row' id='{{parentId}}_{{nickname}}'>
{{!--       <div class='heading'>
        <h3>
          <span class='http_method'>
          <a href='#!/{{encodedParentId}}/{{nickname}}' class="toggleOperation">{{method}}</a>
          </span>
          <span class='path'>
          <a href='#!/{{encodedParentId}}/{{nickname}}' class="toggleOperation {{#if deprecated}}deprecated{{/if}}">{{path}}</a>
          </span>
        </h3>
        <ul class='options'>
          <li>
          <a href='#!/{{encodedParentId}}/{{nickname}}' class="toggleOperation">{{{summary}}}</a>
          </li>
        </ul>
      </div>
      <div class='content' id='{{parentId}}_{{nickname}}_content' style='display:none'> --}}
      
      <div class="col-md-12 col-lg-12">
      <div class='heading'>
        <h2>
          {{{summary}}}
        </h2>
      </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-7 col-lg-7">
      <div class='content' id='{{parentId}}_{{nickname}}_content'>
        {{#if deprecated}}
            <h4><span data-sw-translate>Warning: Deprecated</span></h4>
        {{/if}}
        {{#if description}}
        <div class="markdown">{{{description}}}</div>
        {{/if}}
{{!--         {{#oauth}}
        <div class="auth">
        <span class="api-ic ic-error">{{/oauth}}
        {{#each oauth}}
          <div class="api_information_panel">
          {{#each this}}
            <div title='{{{this.description}}}'>{{this.scope}}</div>
          {{/each}}
          </div>
        {{/each}} --}}
{{!--         {{#oauth}}</span></div>{{/oauth}}
        {{#oauth}}
        <div class='access'>
          <span class="api-ic ic-off" title="click to authenticate"></span>
        </div>
        {{/oauth}} --}}
        </div>
        
      </div>
      <div class="col-md-5 col-lg-5">
        <div class="code-column">
          <div class='block request_url'></div>
          <h5>URL</h5>
          <pre><div class="method">{{method}}</div> <span>{{schemes}}://{{host}}{{basePath}}{{path}}</span></pre>
          <h5>Headers</h5>
          <pre><span class="authorization-header"></span><span class="request-headers"></span></pre>
          {{!-- <div class="curl"></div> --}}
        </div>
        </div>
      </div>

      {{#if headers}}
      <div class="row">
        <div class="col-md-7 col-lg-7">
          <h4 data-sw-translate>Headers</h4>
          <table class="headers">
            <thead>
              <tr>
                <th style="width: 100px; max-width: 100px" data-sw-translate>Header</th>
                <th style="width: 310px; max-width: 310px" data-sw-translate>Description</th>
                <th style="width: 200px; max-width: 200px" data-sw-translate>Type</th>
                <th style="width: 320px; max-width: 320px" data-sw-translate>Other</th>
              </tr>
            </thead>
            <tbody>
              {{#each headers}}
              <tr>
                <td>{{@key}}</td>
                <td>{{this.description}}</td>
                <td>{{this.type}}</td>
                <td>{{this.other}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="col-md-5 col-lg-5">
          <div class='block request_headers'></div>

        </div>
      </div>
      {{/if}}

      {{#if parameters}}
      <div class="row">
      <form accept-charset='UTF-8' class='sandbox'>
          <div class="col-lg-12 col-md-12">
            <h4 data-sw-translate>Parameters</h4>
          </div>
      </div>
      <div class="row">
        <div class="operation-params">
        </div>
      </div>
      {{/if}}

      {{#if type}}
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h4 data-sw-translate>Responses</h4>
        </div>
      </div>
      <div class="row response-row">
        <div class="col-md-7 col-lg-7">
          <span class="model-signature"></span>
        </div>
        <div class="col-md-5 col-lg-5">
          <div class="code-column">
            <div class="snippet">
              <h5>HTTP Status</h5>
              <pre><code><div>200 OK</div></code></pre>
              <h5>Response Body</h5>
              <pre><code><div class="operation-response"></div></code></pre>
            </div>
          </div>
        </div>
      </div>

      {{/if}}

      {{#if responseMessages}}
      <div class="row response-row">
        <div class="col-lg-12 col-md-12">
          <h4 data-sw-translate>Additional Response Codes</h4>
        </div>
      </div>
      <div class="operation-status"></div>


      {{/if}}

      {{#if isReadOnly}}
      {{else}}
{{!--           <div class='sandbox_header'>
        <input class='submit' type='submit' value='Try it out!' data-sw-translate/>
        <a href='#' class='response_hider' style='display:none' data-sw-translate>Hide Response</a>
        <span class='response_throbber' style='display:none'></span>
      </div> --}}
      {{/if}}

        </form>
{{!--         <div class='response' style='display:none'>
          <h4 class='curl'>Curl</h4>
          <div class='block curl'></div>
          <h4 data-sw-translate>Request URL</h4>
          <div class='block request_url'></div>
          {{#if showRequestHeaders}}
          <h4 data-sw-translate>Request Headers</h4>
          <div class='block request_headers'></div>
          {{/if}}
          <h4 data-sw-translate>Response Body</h4>
          <div class='block response_body'></div>
          <h4 data-sw-translate>Response Code</h4>
          <div class='block response_code'></div>
          <h4 data-sw-translate>Response Headers</h4>
          <div class='block response_headers'></div>
        </div> --}}
      </div>
      </div>
      </div>
</li>