<div class="col-lg-7 col-md-7">
	<div class="row parameter-row">
		<div class="col-lg-4 col-md-4">
			<div class='parameter-name'><label for='{{valueId}}'>{{name}}</label></div>
			<div class='optional-parameter'>optional</div>
			
			
		</div>
		<div class="col-lg-8 col-md-8">
			<div class='parameter-type'>
				{{{type}}}, <span class='parameter-location'>in {{{paramType}}}</span>
			</div>
			<div class="description">
				<span class="markdown">{{{description}}}</span>
			</div>
			{{#unless schema}}
			<div class="options">
				{{!-- <span class="model-signature"></span> --}}
			</div>
			{{/unless}}
		</div>
	</div>
	{{#if schema}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="collapsed" role="button" data-toggle="collapse" href="#{{valueId}}Attributes" aria-expanded="false" aria-controls="collapse">{{name}} Attributes</span>
			</div>
			<div class="panel-collapse collapse" id="{{valueId}}Attributes">	
				<div class="panel-body">
					<div class="model-signature"></div>
				</div>
			</div>
		</div>
	{{/if}}
{{!-- <div>

	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{name}}' id='{{valueId}}'/>
			<div class="parameter-content-type" />
		{{else}}
			{{#if default}}
				<div class="editor_holder"></div>
				<textarea class='body-textarea' name='{{name}}' id='{{valueId}}'>{{default}}</textarea>
        <br />
        <div class="parameter-content-type" />
			{{else}}
				<textarea class='body-textarea' name='{{name}}' id='{{valueId}}'></textarea>
				<div class="editor_holder"></div>
				<br />
				<div class="parameter-content-type" />
			{{/if}}
		{{/if}}
	{{else}}
		{{#if isFile}}
			<input type="file" name='{{name}}' id='{{valueId}}'/>
			<div class="parameter-content-type" />
		{{else}}
			{{#renderTextParam this}}
			{{/renderTextParam}}
		{{/if}}
	{{/if}}

</div> --}}

</div>
<div class="col-md-5 col-lg-5">
{{#if headers}}
<div class="code-column">
	<div class="snippet">
		<pre><code>{{headers}}</code></pre>
	</div>
</div>
{{/if}}
<div class="code-column">
	{{#if sampleJSON}} {{!-- TERRIBLE --}}
  	<h5>Request Body</h5>
    <div class="json_request"></div>
    <div class="xml_request"></div>
    {{/if}}
</div>
</div>