<div class="col-lg-7 col-md-7">

	<div class='{{#if required}}required-parameter{{else}}optional-parameter{{/if}}'><label for='{{valueId}}'>{{name}}</label></div>
	<div>
	  <select {{#isArray this}} multiple="multiple"{{/isArray}} class="parameter {{#if required}} required {{/if}}" name="{{name}}" id="{{valueId}}">

	    {{#unless required}}
	      <option {{#unless hasDefault}}  selected="" {{/unless}} value=''></option>
	    {{/unless}}

	    {{#each allowableValues.descriptiveValues}}

	      <option {{#if isDefault}} selected=""  {{/if}}  value='{{value}}'> {{value}} {{#if isDefault}} (default) {{/if}} </option>

	    {{/each}}

	  </select>
	</div>
	<div class="markdown">{{#if required}}<strong>{{/if}}{{{description}}}{{#if required}}</strong>{{/if}}</div>
	<div>{{{paramType}}}</div>

	<div><span class="model-signature"></span></div>
	</div>
	</div>
</div>
<div class="col-md-5 col-lg-5">
<div class="code-column">
	  <div class="snippet"> 
  {{#if sampleJSON}}
      <div class="snippet_json">
        <pre><code>{{sampleJSON}}</code></pre>
        {{#if isParam}}<small class="notice" data-sw-translate></small>{{/if}}
      </div>
  {{/if}}
  {{#if sampleXML}}
    <div class="snippet_xml">
      <pre><code>{{sampleXML}}</code></pre>
      {{#if isParam}}<small class="notice" data-sw-translate></small>{{/if}}
    </div>
  {{/if}}
  </div>
</div>
</div>

