<div class="col-lg-7 col-md-7">
	<div class="row parameter-row">
	<div class="col-lg-4 col-md-4">
		<div class='parameter-name'><label for='{{valueId}}'>{{name}}</label></div>
		{{#if required}}
		<div class='required-parameter'>required</div>
		{{else}}
		<div class='optional-parameter'>optional</div>
		{{/if}}
	</div>
	<div class="col-lg-8 col-md-8">
		<div class='parameter-type'>
			{{{type}}}, <span class='parameter-location'>in {{{paramType}}}</span>
		</div>
		<div class="description">
			<span class="markdown">{{{description}}}</span>
		</div>
		{{#unless schema}}
		<div class="options">
			{{!-- <span class="model-signature"></span> --}}
		</div>
		{{/unless}}
	</div>
	</div>
	</div>
</div>
<div class="col-md-5 col-lg-5">
{{#if headers}}
<div class="code-column">
	<div class="snippet">
		<pre><code>{{headers}}</code></pre>
	</div>
</div>
{{/if}}
<div class="code-column">
	{{#if sampleJSON}} {{!-- TERRIBLE --}}
  	<h5>Request Body</h5>
    <div class="json_request"></div>
    <div class="xml_request"></div>
    {{/if}}
</div>
</div>

