{{!-- <td width='15%' class='code'>{{code}}</td>
<td class="markdown">{{{message}}}</td>
<td width='50%'><span class="model-signature" /></td>
<td class="headers">
  <table>
    <tbody>
      {{#each headers}}
      <tr>
        <td>{{@key}}</td>
        <td>{{this.description}}</td>
        <td>{{this.type}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</td> --}}


<div class="row response-row">
  <div class="col-md-7 col-lg-7">
    <h5><strong>{{code}}: <span class="http-status"></span></strong></h5><p>{{message}}</p>
    <span class="model-signature" />
  </div>
  <div class="col-md-5 col-lg-5">
      <div class="code-column">
        <div class="snippet">
        <h5>HTTP Status</h5>
        <pre><code><div>{{code}}: <span class="http-status"></span></div></code></pre>
        <h5>Response Body</h5>
        <pre><code><span class="statuscode-sample"></span></code></pre>
        </div>
      </div>
  </div>
</div>


